{% extends "base.html" %}

{% block titulo %}
    <title>Placar de campeonato - Entrar</title>
{% endblock %}

{% block principal %}
    <main>

      <main>
        <h1>Entrar</h1>
        <form action="./index.html" method="POST">
          <div class="form-pilha">
            <label for="entrar-usuario">Usuário</label>
            <input type="text" id="entrar-usuario" name="usuario" maxlength="50" required="">
          </div>
          <div class="form-pilha">
            <label for="entrar-senha">Senha</label>
            <input type="password" id="entrar-senha" name="senha" maxlength="15" required="">
          </div>
          <div class="form-pilha">
            <label for="entrar-lembrar">Lembrar de Senha?</label>
            <input type="checkbox" id="entrar-lembrar" name="lembrar" value="S">
          </div>
          <div class="botoes">
            <button type="submit" class="botao botao-principal">Entrar</button> 
          </div>
        </form>
      </main>

    </main>
{% endblock %}