<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no">
    <link rel="stylesheet" href="/static/css/site.css">
    <link rel="stylesheet" href="/static/css/index.css">
    <link rel="stylesheet" href="/static/css/forms.css">
    <title>Placar de campeonato - Home</title>
  </head>
  <body>
    <header id="topo">
      <nav>
        <ul class="navegacao">
          <li class="item-menu">
            <a href="/" class="logo">
              Placar
            </a>
          </li>
          <li class="item-menu grupo-botao">
            <a class="botao botao-sucesso-vazado" href="/inscrever/">Inscreva-se</a>
            <a class="botao botao-principal-vazado" href="/entrar/">Entrar</a>
          </li>
        </ul>
      </nav>
    </header>
    <main>

      <main>
        <h1>Entrar</h1>
        <form action="./index.html" method="POST">
          <div class="form-pilha">
            <label for="entrar-usuario">Usuário</label>
            <input type="text" id="entrar-usuario" name="usuario" maxlength="50" required="">
          </div>
          <div class="form-pilha">
            <label for="entrar-senha">Senha</label>
            <input type="password" id="entrar-senha" name="senha" maxlength="15" required="">
          </div>
          <div class="form-pilha">
            <label for="entrar-lembrar">Lembrar de Senha?</label>
            <input type="checkbox" id="entrar-lembrar" name="lembrar" value="S">
          </div>
          <div class="botoes">
            <button type="submit" class="botao botao-principal">Entrar</button> 
          </div>
        </form>
      </main>

    </main>
    <footer>
      <ul class="navegacao social-media-lista">
        <li>
          <a class="media-link facebook" href="https://www.facebook.com/" target="blank">Facebook</a>
        </li>
        <li>
          <a class="media-link instagram" href="https://www.instagram.com/" target="blank">Instagram</a>
        </li>

        <li>
          <a class="media-link linkedin" href="https://www.linkedin.com/" target="blank">Linkedin</a>
        </li>
        <li>
          <a class="media-link twitter" href="https://twitter.com/" target="blank">Twitter</a>
        </li>
        <li>
          <a class="media-link youtube" href="https://www.youtube.com/" target="blank">Youtube</a>
        </li>
      </ul>
      <a href="#topo">Topo</a>
    </footer>

  </body>
</html>
