{% extends "base.html" %}

{% block principal %}
<main>
  
  <main>
      <h1>Placar de campeonato</h1>
      <aside class="vestibular">
          <h2>Acompanhe em tempo real todos os jogos do campeonato</h2>
          <p>
              Inscreva-se e receba sempre as últimas atualizações do campeonato
          </p>
          <p class="inscrever">
              <a class="botao botao-principal" href="/inscrever/">Inscreva-se Já!</a>
          </p>
      </aside>
  </main>
  <section class="premios">
  <h2>Últimos jogos</h2>

    <article class="premio">
      <h4>Los Angeles Valiant</h4>
      <h3>3</h3> 
      <p>x</p> 
      <h3>2</h3>  
      <h4>Atlanta Reign</h4>
      <hr>
      <span>2020-05-02</span>
    </article>

    <article class="premio">
      <h4>Atlanta Reign</h4>
      <h3>1</h3> 
      <p>x</p> 
      <h3>5</h3>  
      <h4>Los Angeles Valiant</h4>
      <hr>
      <span>2020-05-03</span>
    </article>

    <article class="premio">
      <h4>Los Angeles Valiant</h4>
      <h3>0</h3> 
      <p>x</p> 
      <h3>2</h3>  
      <h4>Boston Uprising</h4>
      <hr>
      <span>2020-05-04</span>
    </article>

    <article class="premio">
      <h4>Boston Uprising</h4>
      <h3>1</h3> 
      <p>x</p> 
      <h3>4</h3>  
      <h4>Los Angeles Valiant</h4>
      <hr>
      <span>2020-05-05</span>
    </article>

    <article class="premio">
      <h4>Los Angeles Valiant</h4>
      <h3>10</h3> 
      <p>x</p> 
      <h3>3</h3>  
      <h4>Houston Outlaws</h4>
      <hr>
      <span>2020-05-06</span>
    </article>

    <article class="premio">
      <h4>Houston Outlaws</h4>
      <h3>2</h3> 
      <p>x</p> 
      <h3>8</h3>  
      <h4>Los Angeles Valiant</h4>
      <hr>
      <span>2020-05-07</span>
    </article>

    <article class="premio">
      <h4>Atlanta Reign</h4>
      <h3>1</h3> 
      <p>x</p> 
      <h3>0</h3>  
      <h4>Boston Uprising</h4>
      <hr>
      <span>2020-05-08</span>
    </article>

    <article class="premio">
      <h4>Boston Uprising</h4>
      <h3>4</h3> 
      <p>x</p> 
      <h3>2</h3>  
      <h4>Atlanta Reign</h4>
      <hr>
      <span>2020-05-09</span>
    </article>

    <article class="premio">
      <h4>Atlanta Reign</h4>
      <h3>2</h3> 
      <p>x</p> 
      <h3>1</h3>  
      <h4>Houston Outlaws</h4>
      <hr>
      <span>2020-05-10</span>
    </article>

    <article class="premio">
      <h4>Houston Outlaws</h4>
      <h3>1</h3> 
      <p>x</p> 
      <h3>2</h3>  
      <h4>Atlanta Reign</h4>
      <hr>
      <span>2020-05-11</span>
    </article>

    <article class="premio">
      <h4>Boston Uprising</h4>
      <h3>8</h3> 
      <p>x</p> 
      <h3>5</h3>  
      <h4>Houston Outlaws</h4>
      <hr>
      <span>2020-05-12</span>
    </article>

    <article class="premio">
      <h4>Houston Outlaws</h4>
      <h3>3</h3> 
      <p>x</p> 
      <h3>1</h3>  
      <h4>Boston Uprising</h4>
      <hr>
      <span>2020-05-13</span>
    </article>


  </section>

</main>
{% endblock %}